@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  background-color: #1e1e1e;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  width: 25%;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
